@import "~bootstrap/scss/bootstrap.scss";
.bigcounter{
text-align: center;
padding-top: 100px;
margin: auto;

}
.bigcounter div{
    display: inline-block;
    font-size: 120px;
   background: rgb(15, 1, 1);
   color: white;
   height: 170px;
   margin: 1px;
   padding: 5px;
  
  

  
}