@import "~bootstrap/scss/bootstrap.scss";
.bigcounter{
text-align: center;
padding-top: 100px;
margin: auto;


}
.bigcounter div{
    display: inline-block;
    font-size: 120px;
   background: rgb(17, 16, 16);
   color: white;
   height: 170px;
   margin: 1px;
   padding: auto;
  
  

  
}